@use '../../globalStyles/palette' as pal;
@use '../../globalStyles/breakpoints' as br;

.navbar__cart{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: pal.$white;
  background: pal.$secondary-color;
  font-weight: bold;

  &__icon{
    display: inline-block;
    width: 3rem;
  }

  &__badge{
    background: pal.$alert;
    color: pal.$white;
    border-radius: 50%;
    position: relative;
    top: -2rem;
    font-size: 0.75rem;
    padding: 6px 10px;

    @include br.media(">=tablet"){
      font-size: 1rem;

    }
  }
}