@use '../../globalStyles/palette' as pal;

.footer{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  padding: 0.25rem;
  color: pal.$secondary-color;
  
  p{
    margin-bottom: 0;
  }

  a{
    color: pal.$primary-color-dark;
    font-weight: bold;
    text-decoration: none;
  }
}