@use '../../globalStyles/palette' as pal;
@use '../../globalStyles/breakpoints' as br;
 
.navbar-wrapper {
  background: pal.$primary-color-dark;
  min-width: 100%;
  padding: 0.5rem 0;
  color: pal.$white;
  font-size: 1.25rem;  
  h1{
    display: inline-block;
    width: 60%;
    margin-left: 0.5rem;
    
    @include br.media(">=tablet"){
      margin-left: 2rem;
      width: 80%;
    }
  }
 }